apiVersion: apps/v1
kind: Deployment
metadata:
  name: signup-app
  labels:
    app: signup-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: signup-app
  template:
    metadata:
      labels:
        app: signup-app
    spec:
      containers:
      - name: signup-app
        image: 952573859059.dkr.ecr.ap-south-1.amazonaws.com/signupapp:IMAGE_TAG
        ports:
        - containerPort: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 10
